.section{
    background-color: bisque ;
    
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}

h2 {
    font-size: 2rem; /* Ajusta el tamaño de la fuente según tus necesidades */
    text-align: center;
    margin-top: 10px;
}

.caja-idiomas{
    display: flex;
    justify-content: center;
}
    
.caja-idiomas > div {
    margin-right: 30px; 
}

.caja-idioma-interior{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px){
    .caja-idiomas{
        display: flex;
        justify-content: center;
        flex-direction: column;
}
.caja-idiomas > div {
    margin-right: 30px; 
    flex-direction: column;
}
}